<div class="container">
    <div class="row justify-content-center align-items-center  d-flex">
        <div class="col-md-6 ">
            <div class="mt-5 align-items-center">
                <h1 class="display-4 font-weight-bold text-primary text-center"> <img
                        src="assets/images/infiniteLogo.jpg" alt="">
                    Welcome to iColleague

                </h1>
                <div class="input-group relative-position mt-5">
                    <span class="p-input-icon-right">
                        <i *ngIf="showCloseIcon" class="pi pi-times absolute-position" style="font-size: 1 rem; cursor: pointer;"
                            (click)="clearSearchInput()"></i>
                        <p-autoComplete class="form-control searchBox no-border" [(ngModel)]="selectedQuery"
                            [forceSelection]="true" [suggestions]="filteredQueries"
                            (completeMethod)="filterData($event)" field="question" (input)="updateTypedValue($event)"
                            (keyup.enter)="search(selectedQuery)" placeholder="Type to search">
                        </p-autoComplete>
                    </span>
                    <div class="searchButton">
                        <p-button class="ms-1 " (onClick)="search(selectedQuery)" label="Search"></p-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="result.length > 0" class="d-flex">
        Showing result for <div class="ms-1 text-primary"> {{searchQuery}} </div>
    </div>

    <div *ngFor="let res of result">
        <app-card [data]="res"></app-card>

    </div>

    <p-toast></p-toast>
</div>



<!-- <div *ngFor="let message of messages">
    {{ message.from.id }}: {{ message.text }}
  </div>
  
  <input [(ngModel)]="newMessage" placeholder="Type a message..." />
  <button (click)="sendMessage()">Send</button> -->