<div class="container">
    <div class="row justify-content-center align-items-center  d-flex">
        <div class="col-lg-6 ">
            <div class="mt-5 align-items-center">
                <!-- <h1 class="display-6 font-weight-bold text-primary text-center"> <img
                        src="assets/images/infiniteLogo.jpg" alt="">
                    Welcome to iColleague

                </h1> -->
                <div class="input-group relative-position mt-4">
                    <span class="p-input-icon-right">
                        <i *ngIf="showCloseIcon" class="pi pi-times absolute-position"
                            style="font-size: 1 rem; cursor: pointer;" (click)="clearSearchInput()"></i>
                        <p-autoComplete class="form-control searchBox no-border" [(ngModel)]="selectedQuery"
                            [forceSelection]="true" [suggestions]="filteredQueries"
                            (completeMethod)="filterData($event)" field="question" (input)="updateTypedValue($event)"
                            (keyup.enter)="search(selectedQuery)" placeholder="Type to search">
                        </p-autoComplete>
                    </span>
                    <div class="searchButton">
                        <p-button class="ms-1 " (onClick)="search(selectedQuery)" label="Search"></p-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row  align-items-start">
        <div [ngClass]="{'col-8': true, 'shadow': result.length > 0, 'rounded': result.length > 0}" class="mt-1">
            <div *ngIf="result.length > 0 || resultById.id > 0" class="d-flex text-white">
                Showing result for <div class="ms-1 text-primary"> {{searchQuery}} </div>
            </div>
            <div class="">
                <div *ngFor="let res of result">
                    <app-card [data]="res" ></app-card>

                </div>
                <app-card *ngIf="resultById" [dataById]="resultById"></app-card>

            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-3 mt-2 shadow rounded second-column">
            <h3>Frequently asked questions</h3>
            <div *ngFor="let res of faqs">
                <a class="faqs" (click)="searchById(res.id)">{{res.question}}</a>
            </div>
        </div>
    </div>
    <p-toast></p-toast>
</div>




<!-- <div *ngFor="let message of messages">
    {{ message.from.id }}: {{ message.text }}
  </div>
  
  <input [(ngModel)]="newMessage" placeholder="Type a message..." />
  <button (click)="sendMessage()">Send</button> -->