/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";


body {
    //background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReWnEIq4zwiuTtuUnRNxMZwbR_7PL92wQHhw&usqp=CAU') no-repeat center center fixed;
   // background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-SY1P80jtJ9SpnanMuESpWpfE1T5q0QdubHcTAjqn_20Mcv1nbZwkEzVJ2Oq3PMbRmDY&usqp=CAU') no-repeat center center fixed;
   // background: url('https://img.freepik.com/free-photo/vivid-blurred-colorful-wallpaper-background_58702-3766.jpg?size=626&ext=jpg&ga=GA1.1.1412446893.1704585600&semt=ais') no-repeat center center fixed;
    //background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpCoec2bwpDxLWYqFb518h5P8aE0AGfDKvoQ&usqp=CAU') no-repeat center center fixed;
   // background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxttDo-l2RVu8AkeJAdbQl0LRqM_jL_M8DHQ&usqp=CAU') no-repeat center center fixed;
   // background: url('https://img.freepik.com/free-vector/blue-curvy-abstract-background_1035-26.jpg') no-repeat center center fixed;
   //background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmfe94wMw_thikEeEhCIipZQE2THt49TGukA&usqp=CAU') no-repeat center center fixed;
  // background: url('https://static.vecteezy.com/system/resources/thumbnails/022/730/499/small/abstract-blue-background-with-smooth-lines-and-light-effects-photo.jpg') no-repeat center center fixed;
   //background: url('assets/images/BackgroundImage.jpeg') no-repeat center center fixed;
   background: url('assets/images/Bg-Img.png') no-repeat center center fixed;
    background-size: cover; 
    margin: 0; 
  }
 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
